{% extends "base_generic.html" %}

{% block content %}
<h1>Account list</h1>

<!-- TODO: -> enable/disable foreign accounts
           -> convert type to string -->
<!--data-classes="table-striped"-->
<table data-classes="table table-striped table-hover"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-show-pagination-switch="true"
    data-show-search-clear-button="true"
    data-show-toggle="true"
    data-sortable="true">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
{% for account in accounts %}
    <tr>
      <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
      <td>{{account.get_type_display}}</td>
      <td>{{account.get_current_balance}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}